<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531748173665-t9939r7v38cq2d660duo06dt5o3be3lk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531748173665-t9939r7v38cq2d660duo06dt5o3be3lk</string>
	<key>API_KEY</key>
	<string>AIzaSyCc5F64QbPwoPXNf-mNPCu9Wl_XwABkalI</string>
	<key>GCM_SENDER_ID</key>
	<string>531748173665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.netcore.SmartechApp</string>
	<key>PROJECT_ID</key>
	<string>smartech-app</string>
	<key>STORAGE_BUCKET</key>
	<string>smartech-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:531748173665:ios:b8875b29ecbf2dccf87720</string>
</dict>
</plist>
